@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    padding: 0;
    margin: 0;
  }
  body {
    height: 100%;
    width: 100%;
    max-width: 1000vw;
    overflow-x: hidden;
  }

  .no-scrollbar{
    scrollbar-width: 0;
  }
  
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }
}



